<header class="hero">
  <img src="images/lerna-hero.svg" alt="Lerna logo" width="500px">
  <p class="hero__lead">A tool for managing JavaScript projects with multiple packages.</p>

  <p class="hero__buttons">
    <iframe src="https://ghbtns.com/github-btn.html?user=lerna&repo=lerna&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    <script async defer src="https://slack.lernajs.io/slackin.js?large"></script>
  </p>

  <p class="hero__follow">
    <a href="https://twitter.com/lernajs" target="_blank">Follow Lerna on Twitter</a>
  </p>
</header>
